body{

    background-color: gray;
}
.fa{
    color:rgba(41, 41, 209, 0.781);
}
a.{
    border-bottom: 1px solid blue;
}
.box-part{
    background-color: white;
    margin: 20px 10px;
    padding: 60px 10 px

}
.text{
    margin: 20px 0px;
}
.box{
    padding:60px 0px;

}